* {
  margin: 20px;
  padding: 0px;
  color: white;
  background-color: #221f1f;
  font-family: NetflixBold;
}

@font-face {
  font-family: NetflixBold;
  src: url(NetflixSans-Bold.woff2);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #221f1f;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
}

h1 {
  text-align: center;
  font-size: 350%;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.avatar-image {
  width: 99%;
}

.fa-solid.fa-circle-plus {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 150px;
  height: 80px;
}

footer {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.manage {
  border: 2px solid grey;
  padding: 10px 35px 10px 35px;
  font-size: 125%;
  color: gray;
}
